[submodule "plugins/cucumber.el"]
	path = plugins/cucumber.el
	url = git://github.com/michaelklishin/cucumber.el.git
[submodule "snippets/yasnippets-rspec"]
	path = snippets/yasnippets-rspec
	url = git://github.com/mknittig/yasnippets-rspec.git
[submodule "plugins/rspec-mode"]
	path = plugins/rspec-mode
	url = git://github.com/pezra/rspec-mode.git
[submodule "plugins/yaml-mode"]
	path = plugins/yaml-mode
	url = git://github.com/yoshiki/yaml-mode.git
[submodule "plugins/gist.el"]
	path = plugins/gist.el
	url = git://github.com/defunkt/gist.el.git
