[submodule "plugins/cucumber.el"]
	path = plugins/cucumber.el
	url = git://github.com/michaelklishin/cucumber.el.git
[submodule "snippets/yasnippets-rspec"]
	path = snippets/yasnippets-rspec
	url = git://github.com/mknittig/yasnippets-rspec.git
[submodule "plugins/rspec-mode"]
	path = plugins/rspec-mode
	url = git://github.com/pezra/rspec-mode.git
[submodule "plugins/yaml-mode"]
	path = plugins/yaml-mode
	url = git://github.com/yoshiki/yaml-mode.git
[submodule "plugins/gist.el"]
	path = plugins/gist.el
	url = git://github.com/defunkt/gist.el.git
[submodule "plugins/rinari"]
	path = plugins/rinari
	url = git://github.com/eschulte/rinari.git
[submodule "plugins/jump.el"]
	path = plugins/jump.el
	url = git://github.com/eschulte/jump.el.git
[submodule "plugins/git-emacs"]
	path = plugins/git-emacs
	url = git://github.com/tsgates/git-emacs.git
[submodule "plugins/mo-git-blame"]
	path = plugins/mo-git-blame
	url = git://github.com/voins/mo-git-blame.git
[submodule "plugins/package.el"]
	path = plugins/package.el
	url = git://github.com/technomancy/package.el.git
[submodule "plugins/coffee-mode"]
	path = plugins/coffee-mode
	url = git://github.com/defunkt/coffee-mode.git
[submodule "themes/twilight"]
	path = themes/twilight
	url = git://github.com/crafterm/twilight-emacs.git
[submodule "plugins/deft"]
	path = plugins/deft
	url = git://github.com/emacsmirror/deft.git
[submodule "plugins/nxhtml"]
	path = plugins/nxhtml
	url = git://github.com/emacsmirror/nxhtml.git
[submodule "plugins/maxframe"]
	path = plugins/maxframe
	url = git://github.com/rmm5t/maxframe.el.git
[submodule "plugins/tabbar"]
	path = plugins/tabbar
	url = git://github.com/dholm/tabbar.git
[submodule "plugins/jump"]
	path = plugins/jump
	url = git://github.com/eschulte/jump.el.git
[submodule "plugins/tabbar"]
	path = plugins/tabbar
	url = git://github.com/dholm/tabbar.git
[submodule "plugins/maxframe"]
	path = plugins/maxframe
	url = git://github.com/rmm5t/maxframe.el.git

